.heading {

 
  
  
  text-decoration: underline;
}
.heads input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;s
  
}
#search{
  text-align:center;
  text-align: right;
}

#subs
{
  padding-top: 30px;
}
#potter{
  align-items: center;
  font-size: 30px;
  justify-content: space-evenly;
  text-align:center;
  padding:20px;
  text-align: center;
}
.inside {
  line-height: .3;
}

.row {
  height:50%;
  width:50%;
  text-align: justify;
  border: 5px solid #D3D3D3;
  margin-left: 20px;
  padding:20px;
  
}
.container {  
    display:flex;       
    padding-left :40px;     
    padding-right: 40px;   
    padding-bottom:30px;     
    justify-content: space-evenly;       
    margin-left:60px;        
    margin-right: 60px;     
    align-items: stretch;         
    flex-direction: row;
    
  }
  

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8ff;
    color: 	#C0C0C0;
    text-align: center;
  }  
#foot {
    margin-top: 20px;
    padding-top:20px;
  }
#footed {
  padding-bottom: 25px;
 }
#styling {
    font-height:0.8 ;
  }
#colouring {
    color:grey;
  }
#world1 {
   color:blue;

  }
#world2 {
    color:coral;
  }
@media (max-width: 800px) {
    #boss {
      font-size: 10px !important;
    }
    h1.heads#potter {
      font-size: 20px;
      text-align: center;
     
    }
    #subs {
      font-size: 10px;
    }
   
    .container {
      display: grid;
      padding: 15px;
      align-items: center;
      margin:10px;
      grid-template-columns: 100%;
      grid-template-rows:  auto;
      grid-gap:10px;
      height:90%;
      width:90%;
      margin-top:15px;
    }
    .row {
      height:80%;
      width:80%;
      text-align: justify;
      border: 5px solid #D3D3D3;
      margin: 5px;
      padding:10px;
      font-size: 5px;
      
      padding-top: 0;
      
    }
    .footer {
      font-size: 10px;
    }
    .inside {
      font-size: 3.2px;
    }
  
  }


   
  
   